@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
body {
    background: url(img/time_bg.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 90px 200px 120px 60px;
}
p{
    color:white;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
h4 {
    font-family: 'Pretendard';
    font-weight: 200;
    color: white;
    text-align: center;
    font-size: 16px;
}

.text_obj {
    position: relative;
    animation: fadeInUp 1s;
}

.ai img {
    transition: all 0.3s linear;
}

.ai:hover img {
    transform: scale(1.13);
}

.resquick_content {
    top:260px;
    right: 60px;
    height: 100vh;
    font-size:40px;
    font-family: 'YUniverse-B';
    font-weight: 800;
    list-style:none;
    position:fixed;
    height: 100%
}
.resquick_content li a{
    color:white;
    height: 50px;
    line-height: 50px;
    display: block;
}
.resquick_content > li a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: right;
    border-bottom: 1px solid #ffffff;
    position: relative;
    z-index: 1;
}
.resquick_content > li a:after {
    content: "";
    width: 0%;
    height: 100%;
    top: 0;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    background: #ffffff;
}
.resquick_content > li a:hover {
    color: rgb(45, 54, 153);
}
.resquick_content > li a:hover:after {
    width: 100%;
    z-index: -1;
}
a {
    color: rgb(247, 232, 114);
    text-decoration-line: none;
}

a:hover {
    color: white;
}
.ai{
    text-align: center;
}

h1 {
    font-family: 'YUniverse-B';
    font-size: 26px;
    text-align: center;
    letter-spacing: 5px;
}

h2 {
    top: 250px;
    right: 680px;
    position: fixed;
    font-size: 150px;
    font-family: 'YUniverse-B';
    color: white;
}

h3 {
    font-family: 'Pretendard';
    letter-spacing:7px;
    font-weight: 500;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}

.star-text1 {
    font-family: 'YUniverse-B';
    font-size: 22px;
    color: rgb(247, 232, 114);
    animation: rotate_image 50s linear infinite;
    transform-origin: center;
    text-align: right;
    margin-left: 400px;
    margin-right: 400px;
}

@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

.star-text2 {
    font-family: 'YUniverse-B';
    font-size: 22px;
    color: rgb(247, 232, 114);
    animation: rotate_image 70s linear infinite;
    transform-origin: center;
    text-align: right;
    margin-left: 400px;
    margin-right: 400px;
}

@keyframes rotate_image {
    100% {
        transform: rotateY(360deg);
    }
}

.star-text3 {
    font-family: 'YUniverse-B';
    font-size: 22px;
    color: rgb(247, 232, 114);
    animation: rotate_image 50s linear infinite;
    transform-origin: center;
    text-align: right;
    margin-left: 500px;
    margin-right: 500px;
}

@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

.star-text4 {
    font-family: 'YUniverse-B';
    font-size: 22px;
    color: rgb(247, 232, 114);
    animation: rotate_image 50s linear infinite;
    transform-origin: center;
    margin-left: 400px;
    margin-right: 400px;
}

@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}

.star-text5 {
    font-family: 'YUniverse-B';
    font-size: 22px;
    color: rgb(247, 232, 114);
    animation: rotate_image 50s linear infinite;
    transform-origin: center;
    margin-left: 300px;
    margin-right: 300px;
}

@keyframes rotate_image {
    100% {
        transform: rotate(360deg);
    }
}
    .animated-title {
        font-family: 'YUniverse-B';
        letter-spacing:7px;
        color:white;
        opacity: 18%;
        font-size: 30px;
        position: relative;
        width: 100%;
        max-width: 90%;
        height: auto;
        padding: 100px 0 0 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .animated-title .track {
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 40s linear infinite;
    }
    
    @keyframes marquee {
        from {
            transform: translateX(0);
        }
    
        to {
            transform: translateX(-50%);
        }
    }
    
    @media (hover: hover) and (min-width: 700px) {
        .animated-title .content {
            -webkit-transform: translateY(calc(100% - 8rem));
            transform: translateY(calc(100% - 8rem));
        }
    }
    #wrap {
        min-height: 30vh;
        position: relative;
        width: 100%;
    }
    footer {
        font-family: 'Pretendard';
        width: 100%;
        height: 80px; /* 내용물에 따라 알맞는 값 설정 */
        bottom: 0px;
        position: absolute;
    }